<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>SIS Server</h1>
    <span>Register</span>
    <hr />
    
    <form method="post" action="/users/register">
        <label>Usarname</label>
        <input type="text" name="username" value="Usarname" /><br />
        <label>Password</label>
        <input type="password" name="password" value="Password" /><br />
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" value="Password" /><br />
        <button type="submit">Register</button>
    </form>

</body>
</html>